@charset "UTF-8"
*{
padding: 0%;    
margin: 0%;
}

h1{
    background-color: black;
}
 body {
    text-align: center;
    
    }

 main {
    margin:auto;
    background-color: rgba(244, 244, 255, 0.74);
 }

 main > a {
text-align: justify;
 }

 